TZ=Europe/London
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
AUTHENTIK_DB_NAME=authentik
AUTHENTIK_DB_USER=authentik
AUTHENTIK_DB_PASSWORD=change-me
N8N_DB_NAME=n8n
N8N_DB_USER=n8n
N8N_DB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=change-me
BOOKSTACK_DB_NAME=bookstack
BOOKSTACK_DB_USER=bookstack
BOOKSTACK_DB_PASSWORD=change-me
ESPOCRM_DB_NAME=espocrm
ESPOCRM_DB_USER=espocrm
ESPOCRM_DB_PASSWORD=change-me
